body {
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 150px 1fr;
    grid-template-columns: 1fr 150px 1fr;
    min-height: 100vh;
    transition:grid-template-rows 0.5s , grid-template-columns 0.5s ;
}

.imgcontainer {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    transition: height 0.5s , width 0.5s;
}
.img {
    height:150px;
    width: 150px;
    border: 2px black solid;
    transition: height 0.5s , width 0.5s;
}
.img:hover {
    height: 250px;
    width: 250px;
}

.first, .second, .third, .fourth {
    border: 2px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: arial;
    font-weight: 700;
}

.first {
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    transition: background-color 0.5s ;
}
.first:hover {
    background-color:#4c7c8e;
}

.second {
    height: auto;
    width:auto;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    transition: background-color 0.5s ;
}
.second:hover {
    background-color:#b9414b;
}

.third {
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    transition: background-color 0.5s ;
}
.third:hover {
    background-color:#b9414b;
}

.fourth {
    height: auto;
    width: auto;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    transition: background-color 0.5s ;
}
.fourth:hover {
    background-color:#4c7c8e;
}


